	body{
		    background-color: #4f9aa2;
    }
	.title{
		background-color: #108e93;
		position:fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height:64px;
		display: flex;
		flex-direction: row;
		box-shadow: 2px 2px 5px black;
	}
	
 		
	.f{
	  margin-top: 15px;
    width: 150px;
		font-size:25px;
		color: white;
		font-weight: bold;
	}
	.logo{
		width: 45px;
		margin-left:72px;
		height:45px;
		margin-top: 8px;
	}

.outer
{
	margin-top: 70px;
	
	height:400px;
	

}

.tlogin{

	width: 50%;
  height: 380px;
  
 display: inline;

	float: left;
	text-align: center;
	




}
.hlogin{
	width: 50%;
  height:380px;

  display:inline;
	

float: right;
text-align: center;
}
.teacher 
{
	width: 200px;
	height: 200px;
	border-radius: 50px;
	padding-top:150px;
	
	
	
}
.buttondiv1
{
	width: 50%;
  height: 100px;


	float: left;
	text-align: center;


}
.buttondiv2
{
	width: 50%;
  height: 100px;

 float: right;
	text-align: center;
	
}
.button
{
	width: 150px;
	padding:10px;
	background-color: #008CBA;
	color: white;
	font-weight: 600;
	text-align: center;
	border:#008CBA;
}