body{
		background-color: #4f9aa2;
	
}
	.title
	{
		background-color:#108e93; 
		position:fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height:64px;
		

	}
.logo{
		width: 50px;
		margin-left:72px;
	
		height:50px;
		margin-top: 5px;
	}
	.f{
		position: absolute;
		left: 125px;
		top: 15px;
		font-size:25px;
		color: white;
		font-weight: bold;
	}
a{
	text-decoration: none;
	color: black;
}
.logout
{
background-color:aliceblue;
position: absolute;
right: 20px;
top: 10px;
margin: 0 auto;
width:100px;
text-align: center;
height:20px;
padding: 10px;
border-radius: 3px;
text-decoration: none;
	
}
.logout:hover{

	background-color:#fc0208;
}
.home{
	position: absolute;
	width: 50px;
	left: 10px;
	top: 2px;
	color: black;
}
h1{
	text-align: center;
}
.wrapper{
	text-align:left;
	margin-top: 100px;
	

}
.scorecard{
	background-color:antiquewhite;
	width:800px;
	height: 400px;
	margin: 0 auto;
	border-radius:5px;
	
	
	

}
.result
{
 font-family: sans-serif;
	font-size: 20px;
	font-weight: 500;
 margin: 10px;
 padding:5px;
}

.showmore{
	width: 100px;
	height: 25px;
	background-color: dodgerblue;
	border: 0px;
	padding: 5px;
	font-size: 10px;
	float: right;
	margin-top: 70px;
margin-right: 30px;
	color: black;
}
.showmore:hover{
	opacity: .5;
}